/* pages/home/index.wxss */
.home{
  min-height: 100vh;
  // background-color:aqua;
  .banner{
    height:380rpx;
    background:blanchedalmond;
    .swiper-item{
      height:100%;
      width:100%;
    }
  }
  .home_tabs{
    width: 100%;
    height:180rpx;
    // background-color: chartreuse;
    padding:0 40rpx;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-self:center;
    .tabs_scroll{
      width: 100%;
      white-space: nowrap;
      // flex-direction: column;
    }
    .scroll-view-item{
      margin-right: 50rpx;
      display:inline-block;
      width:100rpx;
      height:100rpx;
      background-color: aquamarine;
      &:last-child{
        margin: 0;
      }
    }
  }

  .home_list_hot{
    padding-bottom: 20rpx;
    .home_hot_title{
      font-size:16px;
      margin:0rpx 40rpx 20rpx;
    }
    .home_list{
      padding:0 40rpx;
    }
  }
}